.modalBackground {
  display: flex;
  align-items: center;
  background-color: white;
}

.modalContainer {
  position: fixed;
  left: 10%;
  width: 80%;
  flex: 400px;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 2px 5px 5px black;
  background-color: rgb(235, 235, 235);
  display: flex-wrap;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  z-index: 1;
  padding: 0.4rem;
}

.modalContainerDelete {
  position: fixed;
  left: 15%;
  width: 70%;
  border-radius: 1em;
  border: 1px solid white;
  box-shadow: 2px 5px 5px black;
  background-color: rgb(235, 235, 235);
  display: flex-wrap;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  z-index: 1;
  padding: 0.4rem;
}

.modalContainer .title {
  display: inline-block;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 100%;
}

.modalContainer,
.modalContainerDelete .titleDelete {
  text-align: center;
  padding: 1rem;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: red;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  padding: 0px 20px 0px;
  color: white;
}

.modalContainerDelete .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.modalContainerDelete .bodyBtns {
  margin: 0.5rem;
  border: 1px solid none;
}
