.page {
  background-image: url(../Images/background.jpg);
  background-size: cover;
  color: rgb(0, 255, 34);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.content {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

.navbar {
  background-color: rgb(44, 1, 1) !important;
  font-size: 1.3rem;
}
.nav {
  float: left;
}
img.NavBarLogo {
  max-width: 75px;
}
