body {
  /*background-color: #44355b66;*/
  /*background-image: linear-gradient(315deg, #15111d1a 0%, #afafaf 74%);*/
  background-color: #2c0101;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle at center,
    rgba(229, 229, 229, 0.5) 0%,
    rgba(216, 216, 216, 0.502) 50%,
    rgba(189, 189, 189, 0.7) 75%,
    rgba(160, 160, 160, 0.8) 90%,
    rgba(140, 140, 140, 0.8) 95%,
    rgb(120, 120, 120) 100%
  );

  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.page {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.content {
  border-radius: 0.7rem !important;
  padding: 1rem;
  margin: 0.8rem;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  ) !important;
  z-index: 1;
  /*backdrop-filter: blur(10px);*/
}

@media (max-width: 600px) {
  .content {
    padding: 0.3rem; /* Reduced padding for smaller screens */
    margin: 0.2rem;
  }
}

.divine {
  margin: 1rem;
  padding: 1rem;
  color: black;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.788),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  z-index: 0;
}

.divine-no-blur {
  margin: 1rem;
  padding: 1rem;
  color: black;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.788),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  z-index: 0;
}

.parent {
  display: column;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  column-width: 310px;
  column-count: 3; /*max vrstic = 3*/
}

.child {
  margin: 5px;
  padding: 8px 5px 8px;
  color: black;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.788),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  width: 100%;
  align-items: center;
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping to next line */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis (...) at the end when text overflows */
}

.navbar {
  background-color: rgb(44, 1, 1) !important;
  font-size: 1.3rem;
  padding: 0.2rem 1rem !important;
}

.theNavBar {
  background-color: rgb(44, 1, 1) !important;
  font-size: 1.3rem;
  padding: 0rem 1rem !important;
}

.navBarLogo {
  height: 2.8rem;
  margin: 0.1rem 5rem 0rem 0rem;
}

.nav-link {
  white-space: nowrap;
}

h2 {
  color: #740f26;
}

.zaposleni-hover:hover {
  color: #740f26;
  cursor: pointer;
}

.deleteBtn,
.editBtn {
  width: fit-content;
  float: right !important;
  justify-content: center;
  padding: 0rem 0.5rem !important;
  margin: 0rem !important;
  font-size: 1.2rem;
}
.deleteBtn:hover {
  cursor: pointer;
  color: red;
}
.editBtn:hover {
  cursor: pointer;
  color: rgb(0, 60, 255);
}

.css-tzssek-MuiSvgIcon-root {
  height: 1rem;
  margin: 0rem !important;
  padding: 0rem !important;
  font-size: 3rem !important;
}

.successBox {
  font-style: italic;
  font-weight: bold;
  color: #740f26;
  font-size: 1rem;
}

.buttonGroup {
  text-align: center !important;
  margin: 5px;
  flex-wrap: wrap; /*responsive-
   Äe zmanjka prostora-
   se pomakne v naslednjo vrsto*/
}

.singleButtonGroup {
  border: none !important;
  margin: 1px !important;
  border-radius: 7px !important;
  background: linear-gradient(to right, #ededed8b, #ffffff);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.singleButtonGroup:active {
  opacity: 1;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); /* Increase the shadow to give a pulsing effect */
  transform: translateY(
    4px
  ); /* Moves the button up slightly to give a bounce effect */
}

[type="radio"] {
  display: none;
}

.centered {
  text-align: center;
}

.dropdown {
  position: relative;
  z-index: 100 !important;
}

.dropdown-item {
  z-index: 5 !important;
  position: relative !important;
}

.dropdown-menu.show {
  overflow: scroll;
  max-height: 20rem;
  max-width: max-content !important;
}

.tableFooter td {
  text-align: right; /* Align text to the right */
  vertical-align: middle; /* Center text vertically if needed */
}

.table-bordered td,
.table-bordered th,
.table {
  border: none !important;
}

.table-cas {
  margin-top: 4px;
}

.vnosBtn {
  margin: 10px 10px 10px 0px;
}

.addNew {
  border: 5px solid white;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 75%,
    rgb(255, 255, 255) 100%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  width: fit-content;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .addNew {
    padding: 2rem;
    min-width: 35%;
  }
}

@media (max-width: 900px) {
  .button-text {
    display: none;
  }
}

.checkMark {
  height: 2.5rem;
}

#button-tooltip-2 {
  z-index: 10000000000 !important;
}

.gap {
  gap: 1rem;
}

.custom-tooltip {
  background-color: #000 !important;
  color: white !important;
}

.custom-snackbar {
  position: fixed;
  bottom: 1rem; /* Adjust the distance from the bottom */
  right: 1rem; /* Adjust the distance from the right */
  z-index: 1100; /* Ensures it's on top of other content */
}

.custom-popover {
  max-width: fit-content !important;
  border: 6px solid white !important;
  border-radius: 1rem !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* This adds the 3D effect */
}

/* =====  ===== MODAL CSS ===== ===== */

.modalBackground {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: (0, 0, 0, 0.5);
}

.blue-modal-header {
  background: linear-gradient(to right, #0073ff, #ffffff);
  color: #fff !important;
  border-bottom: 3px solid #0073ff !important; /* Optional: adds a border line similar to default Bootstrap modals */
}

.blue-modal-content {
  color: #0073ff !important;
}

.red-modal-header {
  background: linear-gradient(to right, #e54151, #ffffff);
  color: #fff;
  border-bottom: 3px solid #e54151 !important; /* Optional: adds a border line similar to default Bootstrap modals */
}

.green-modal-header {
  background: linear-gradient(to right, #2cb94d, #ffffff);
  color: #fff;
  border-bottom: 3px solid #2cb94d !important; /* Optional: adds a border line similar to default Bootstrap modals */
}

.reddish {
  color: rgb(255, 0, 60) !important;
}

.greenish {
  color: green !important;
}

.grayish {
  color: rgb(161, 161, 161) !important;
}

.orangish {
  color: rgb(255, 162, 0) !important;
}

.blueish {
  color: rgb(0, 102, 255) !important;
}

.gesloArea {
  display: flex;
  align-items: center;
}

.passToggleIcon {
  font-size: 1.35rem;
  border: none;
  cursor: pointer;
  float: right;
  margin-left: 0.5rem;
}

.text-muted {
  float: right;
}

/* =====  ===== FOR SMALL DEVICES ===== ===== */

@media screen and (max-width: 576px) {
  .modalContainer {
    position: fixed;
    border-radius: 1em;
    border: 2px solid white;
    box-shadow: 2px 5px 5px black;
    background-color: rgb(241, 241, 241);
    color: rgb(31, 31, 31);
    z-index: 1;
    padding: 0.5rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modalContainer .body {
    padding: 0rem 1rem 0.5rem;
  }

  .modalContainer .title {
    display: inline-block;
    text-align: left;
    padding: 0.5rem 0.5rem 0rem;
    width: 100%;
  }
}

.spacer {
  margin: 1rem;
}

.dezurni-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formCheck {
  flex-grow: 1; /* Ensures the checkbox label takes up the available space */
}

.export-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: auto;
  gap: 5px; /* Adjust the space between child elements */
}

.export-delete > span,
.export-delete > .info-icon {
  flex-shrink: 1; /* Prevent shrinking */
}

/* Add a media query for larger screens where you want to prevent shrinking */
@media (min-width: 768px) {
  .export-delete > span,
  .export-delete > .info-icon {
    flex-shrink: 0; /* Prevent shrinking on larger screens */
  }
}

/* Ensures the dropdown content is fully visible without scrollbars.*/
.dropdown-menu {
  max-height: 350px !important;
  z-index: 100 !important;
  scrollbar-width: thin !important;
  scrollbar-color: #888 #f1f1f1 !important;
  border-radius: 5px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

/* Style the scrollbar for Chrome, Safari, and newer versions of Edge */
.dropdown-menu::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
  height: 1px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: white; /* The track (progress bar) of the scrollbar */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: gray; /* The draggable scrolling handle */
  border-radius: 30px; /* Optional: round corners for the handle */
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

.filterElement {
  background-color: white;
  max-width: max-content;
  border-radius: 12px;
  transition: background-color 0.3s ease; /* Transition for the background color change on hover */
  padding: 5px 10px;
  margin-left: 5px;
}

.filterElement:hover {
  background-color: #f7f7f7;
}

.stackHorizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-toggle {
  margin-right: 5px !important;
}

.accordion-header {
  padding: 0.3rem;
  margin-right: 1rem;
}

.accordion-button {
  background-color: #f7f7f7;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  margin: 0.5rem;
  color: #740f26;
}

.icon-spacing {
  margin-right: 1rem; /* Adjust the spacing as needed */
}

.narrow-column {
  width: 5rem; /* Or whatever width you desire */
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  text-align: center; /* Align the first icon to the left */
  white-space: nowrap;
}

.confirm-deny-icon {
  height: 22px; /* to maintain the aspect ratio */
  width: 22px; /* to maintain the aspect ratio */
  cursor: pointer;
  border-radius: 50%;
}

.custom-modal .modal-header .modal-content {
  border-radius: 100px;
}

.close-btn {
  background-color: transparent !important;
  color: grey !important;
  padding: 0rem 0.5rem !important;
  border: none !important;
}

.close-btn:hover {
  color: #df5865 !important;
  font-weight: 700;
}

.color-green {
  color: rgb(0, 127, 0) !important;
  border-left: 2px solid limegreen !important;
  border-right: 2px solid limegreen !important;
}

.color-red {
  color: rgb(181, 0, 0) !important;
  border-left: 2px solid red !important;
  border-right: 2px solid red !important;
}

.color-blue {
  color: rgb(0, 0, 189) !important;
  border-left: 2px solid blue !important;
  border-right: 2px solid blue !important;
}

.color-orange {
  color: rgb(189, 109, 34) !important;
  border-left: 2px solid orange !important;
  border-right: 2px solid orange !important;
}

.switch-label {
  font-size: 1rem;
  color: black;
  font-weight: normal;
  font-style: normal;
}

.rowDiv {
  display: flex;
  justify-content: space-between; /* This will put space between items */
  align-items: center; /* This will vertically center align items in the div */
  gap: 1rem;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: 1rem; /* Adjust the space between items */
}

.info-icon {
  margin-left: 2px;
  font-size: 1rem !important;
  color: #848484;
  margin-bottom: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.successBtn {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #56ab2f, #56ab2f00);
  background-color: transparent;
  color: #56ab2f;
  transition: background-image 0.5s ease;
}

.successBtn:hover,
.successBtn:focus,
.successBtn:active {
  background-image: linear-gradient(to left, #56ab2f, #56ab2f00);
  color: white; /* Text color on hover */
  border: 1px solid transparent;
}

.errorExitBtn {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #cb2d3e, #ef473a);
  background-color: transparent;
  color: #cb2d3e; /* Adjust text color if needed */
  transition: background-image 0.3s ease;
}

.errorExitBtn:hover,
.errorExitBtn:focus,
.errorExitBtn:active {
  background-image: linear-gradient(to left, #cb2d3e, #ef473a);
  color: white; /* Text color on hover */
}

.infoBtn {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #0073ff, #0073ff00);
  background-color: transparent;
  color: #0073ff; /* Adjust text color if needed */
  transition: background-image 0.6s ease;
}

.infoBtn:hover,
.infoBtn:focus,
.infoBtn:active {
  background-image: linear-gradient(to left, #0073ff, #0073ff00) !important;
  color: white; /* Text color on hover */
  border: 1px solid transparent;
}

.disabledBtn {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #bdc3c7, #2c3e50);
  background-color: transparent;
  color: #bdc3c7; /* Adjust text color if needed */
  transition: background-image 0.3s ease;
}

.disabledBtn:hover,
.disabledBtn:focus,
.disabledBtn:active {
  background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
  color: white; /* Text color on hover */
  border: 1px solid transparent;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0px !important;
}

/** SCROLLBAR STYLING **/
/* Style for WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #3d3d3d; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
