body {
  font-family: "Montserrat", sans-serif;
  /*background-image: linear-gradient(#982640, black);*/
  background-image: url(./components/Images/background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LoginError {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  color: #982640;
}

.card {
  border-radius: 1rem !important;
  padding: 50px 0;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.021)
  ) !important;
  min-width: 60vh !important;
  z-index: 1;
  backdrop-filter: blur(1rem);
}
