* {
  font-family: "Montserrat", sans-serif;
}

.loginForm {
  background-image: url(./components/Images/background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.armic-logo {
  margin: auto;
  width: 50%;
}

.LoginError {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  color: #740f26;
  font-size: 1.3rem;
}

.card {
  border-radius: 1rem !important;
  padding: 50px 0px 0px;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  ) !important;
  z-index: 1;
  backdrop-filter: blur(10px);
  min-width: 60vh;
  max-width: 60vh;
  margin: auto;
}

.card-body {
  padding: 3rem 5rem !important;
}

.PrijavaH1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large !important;
}
